* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: white;
    color: black;
}

.container {
    position: relative;
    z-index: 1;
    color: white;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    z-index: 2;
}

.header-text {
    text-align: center;
    max-width: 70%;

}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.nature {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.back-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background-color: #c7c7c7;
    
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header h1 {
    font-size: 8em;
    font-weight: 900;
    margin: 0;
}

header h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline;
}



.main-content {
    padding-left: 20px;
    text-align: left;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

.sub-text {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    line-height: 1.2;
    color: green;
    margin-top: 60px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.2;
}

.main-content p.sub-text {
    margin: 10px auto;
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: green;
}



.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hamburger .bar {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger:hover .bar {
    background-color: #fff;
}

nav {
    background-color: rgba(128,128,128,0.7);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 99;
}

nav.active {
    left: 0;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    color: #04422b;
}

.image-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    padding: 50px;
}

.clickable-item {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #d4d2d2;
    border: 1px solid #c7c7c7;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 40px;
}

.clickable-container {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.clickable-image {
    width: 90%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.clickable-image:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.image-text {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    font-family: 'Lora', serif;
}

.image-text .title {
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

.image-text .sub-text{
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5;
    color: #202020;
}

.image-text .small-text {
    font-size: 0.6em;
    color: #777777;
    margin-top: 10px;
}
