* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: white;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: aquamarine;
    color: black;
    text-align: left;
    padding: 50px 20px;
}

header h1 {
    font-size: 8em;
    font-weight: 900;
    margin: 0;
    padding-left: 60px;
}

header h2 {
    font-size: 2em;
    padding-left: 60px;
}

header p {
    font-size: 1.8em;
    padding-left: 60px;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hamburger .bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}


nav {
    background-color: #038408;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 99;
}

nav.active {
    display: block;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: black;
}