* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: white;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: right;
    width: 100px;
    height: auto;
    margin: 10px;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
}

header {
    background-color: aquamarine;
    color: black;
    text-align: left;
    padding: 50px 20px;
}

header h1 {
    font-size: 8em;
    font-weight: 900;
    margin: 0;
    padding-left: 60px;
}

header h2 {
    font-size: 2em;
    padding-left: 60px;
}

header p {
    font-size: 1.8em;
    padding-left: 60px;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hamburger .bar {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger:hover .bar {
    background-color: #fff;
}

nav {
    background-color: rgba(128,128,128,0.7);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 99;
}

nav.active {
    left: 0;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    color: #04422b;
}