body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
}

.header-section {
    height: 100vh;
    background-image: url('climatechange.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}